@font-face {
    font-family: 'poppins-semibold';
    src: url(../Poppins/Poppins-SemiBold.ttf) format('opentype');
}

.wrapper-articles {
    width: 90%;
    color: #20509F;
    font-family: 'poppins-semibold';
}

.title-articles {
    margin:1em;   
    margin-bottom: 1em;
    width: 50%;
    font-size: x-large;
    line-height: 2.3em;
}

.ask-div-articles {
    margin-top: 1em;
    display: flex;
    align-items: center;
    font-size: medium;
}

.ask-div-articles p:hover {
    transition: .3s ease-in-out;
}

.ask-div-articles p:hover {
    color: black;
    cursor: pointer;
}

@media(max-width:600px) {
    .title-articles{
        font-size: small;
        width: 90%;
        line-height: 2.3em;
    }
}

@media(max-width:1114px) {
    .wrapper-articles {
        width: 100%;
    }
    .title-articles{
        width: 80%;
    }
}