@font-face {
    font-family: 'poppins-semibold';
    src: url(../Poppins/Poppins-SemiBold.ttf) format('opentype');
}

.wrapper-banner {
    padding: 5em 2em;
    display: flex;
    justify-content: space-between;
    gap: 23px;
    flex-wrap: wrap;
    color: aliceblue;
    background-image: linear-gradient(180deg, #00000052 0, #030303f3 100%);
    position: relative;
    height: fit-content;
}

.first-block {
    text-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    gap: 23px;
}

.title {
    margin: 0;
    padding: 0;
    line-height: 2.3em;
    text-align: start;
    font-size: larger;
    font-family: 'poppins-semibold'
}

.text>p {
    padding: 0;
    text-align: start;
    line-height: 1.5em;
}
.solutions{
    display: flex;
    width: 100%;
    gap: 12px;
}
.logo-solutions svg{
    margin: 0;
    align-self: center;
    justify-self: center;
}
.solutions>p{
    margin: 0;
    font-size: small;
}

.second-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 20px;

}

.button-contact {
    display: flex;
    justify-items: center;
}

.contact {
    position: relative;
    border-radius: 10px;
    border: none;
    font-size: large;
    font-weight: bold;
    color: #ffffffaf;
    padding: 2em 2em;
    background-color: #1c6ab827;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.658);
    transition: .3s ease-in-out;
}

.contact:hover {
    background-color: #20519f69;
    color: #fffefe;
    cursor: pointer;
}

.ask-div>p {
    display: flex;
    align-items: center;
    font-size: medium;
    color: #dcdcdc;
}

.ask-div>p:hover {
    color: #20509F;
    transition: .5s ease;
    cursor: pointer;
}

@media(max-width: 1000px) {
    .wrapper-banner {
        padding: 1em 2em;
        padding-bottom: 10em;
    }

    .first-block {
        margin: 0;
        width: 60%;
    }

    .second-block {
        justify-content: start;
    }

}

@media(max-width: 532px) {
    .wrapper-banner {
        padding: 1em;
        gap: 33px;
    }

    .first-block {
        width: 80%;
    }
    
    .title {
        font-size: small;
    }

    .ask-div>p {
        font-size: smaller;
        text-align: center;
    }
    
    .contact {
        font-size: small;
    }
}

@media(max-width:340px){
    .wrapper-banner {
        height: fit-content;
    }
}
@media(max-height:480px){
    .wrapper-banner{
        height: fit-content;
    }
}