@font-face {
    font-family: 'Poppins-light';
    src: url(../Poppins/Poppins-Light.ttf) format("opentype");
  }
@font-face {
    font-family: 'poppins-semibold';
    src: url(../Poppins/Poppins-SemiBold.ttf) format('opentype');
}
.wrapper-blog{
    background-color: black;
    width: 100%;
}
.container-blog{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 2em;
    padding: 5em;
}
.left-wrapper-articles, .right-wrapper-articles{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
} 
.left-wrapper-articles{
    width: 60%;
}
.right-wrapper-articles > .wrapper-article,
.left-wrapper-articles > .wrapper-article{
    box-shadow: 5px 5px 12px 0px #ffffff29;
}
.left-wrapper-articles > .wrapper-article{
    width: 100%;
}
.right-wrapper-articles .wrapper-article h2,
.left-wrapper-articles .wrapper-article h2{
    color: white;
    text-decoration: underline;
}
.right-wrapper-articles .wrapper-article h2:hover,
.left-wrapper-articles .wrapper-article h2:hover{
    color: #20509f;
}
.right-wrapper-articles .wrapper-article{
    height: 300px;
}

@media(max-width:970px){
    .container-blog{
        padding: 5em 1em;
    }
    .container-blog{
        width: 100%;
    }
    .right-wrapper-articles{
        display: none;
    }
    .left-wrapper-articles{
        width: 100%;
    }
}