@font-face {
    font-family:'poppins-semibold' ;
    src: url(../Poppins/Poppins-SemiBold.ttf) format('opentype');
}

.card-number{
    margin: 0;
    height: 200px;
    width: 200px;
    display: flex;
    gap:13px;
    justify-content: center;
    flex-direction: column;
    background-color: #20509F;
    color: white;
    border-radius: 40px;
    box-shadow: 10px 10px 18px #000000;
    cursor: pointer;
}
.numbers > p{
    font-family: 'poppins-semibold';
    font-size: 40px;
}
.text-card{
    font-size:smaller;
}
@media (max-width:1014px) {
    .card-number{
        width: 200px;
    }
}
@media (max-width:870px) {
    .card-number{
        width: 40%;
    }
}
@media (max-width:500px) {
    .card-number{
        width: 90%;
    }
}