@font-face {
    font-family: 'Poppins-light';
    src: url(../Poppins/Poppins-Light.ttf) format('opentype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url(../Poppins/Poppins-ExtraBold.ttf) format('opentype');
}


.wrapper-cards-about {
    font-family: 'Poppins-Bold';
    padding: 2em;
    color: #13366f;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:1em;
    box-shadow: 2px 2px 20px 1px black; 
    margin: 0;
    
}

@media(max-width:360px){
    .wrapper-cards-about{
        height:350px;
    }
}
@media(min-width: 360px) and (max-width: 992px){
    .wrapper-cards-about{
        width: 100%;
        height: 300px;
    }
}
@media(min-width: 992px) and (max-width: 1190px ){
    .wrapper-cards-about{
        width: 300px;
        height: 400px;
        padding: 1em;
    }
}
.wrapper-cards-about:hover{
    transform: translateY(-20px);
    transition: .5s;
}

.wrapper-cards-about h1{
    font-size:x-large;
    line-height: 1.2em;
    padding: 1em 0;
}

.first-block-card-about{
    margin: 0;
    width: 100%;
}
.second-block-card-about{
    width: 100%;
    height: 50%;
    line-height: 1.6em;
    color: #2d2d2d;
    font-family: 'Poppins-light';
   
}
@media(max-width: 450px){
    .second-block-card-about p{
        font-size: small;
    }
    .wrapper-cards-about h1{
        font-size: large;
    }
}

