@font-face {
    font-family: 'poppins-semibold';
    src: url(../Poppins/Poppins-SemiBold.ttf) format('opentype');
}

.wrapper-cards {
    width: 70%;
    text-align: center;
    padding: 0;
    font-family: 'poppins-semiBold';
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.wrapper-cards h1 {
    font-size: xx-large;
    line-height: 1.3em;
}

.div-cards {
    background-color: #cfcece3f;
    margin: 0;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
}
@media(max-width:420px){
    .div-cards{
        padding: 2px;
    }
}
@media(max-width:1250px) {
    .wrapper-cards h1 {
        font-size: x-large;
    }
    .div-cards {
        width: 100%;
    }
    .wrapper-cards {
        width: 100%;
    }
}
