@font-face {
    font-family: 'poppins-semibold';
    src: url(../Poppins/Poppins-SemiBold.ttf) format('opentype');
}

.wrapper-card-options {
    background-size: cover;
    color: white;
    box-shadow: 5px 8px 12px 1px #000000a2;
    transition: .5s;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 250px;

}

.overlayer {
    background-color: rgba(0, 0, 0, 0.449);
    padding: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.wrapper-card-options:hover {
    background-position: top right;
    box-shadow: 12px 12px 12px 1px #000000a2;
    transform: scale(1.01);
}

.arrow-card,
.logo-card {
    margin: 0;
    align-self: start;
}

.arrow-card {
    margin-top: 4em;
    align-self: end;
}

.title-cards>h1 {
    text-align: left;
    font-size: 23px;
}

@media(max-width:350px) {
    .title-cards>h1 {
        font-size: 20px;
    }
}
@media(max-width:650px) {
    .wrapper-card-options {
        width: 100%;
    }
}