@font-face {
    font-family: 'poppins';
    src: url(../Poppins/Poppins-Light.ttf);
}
.wrapper-footer{
    width: 100%;
    padding: 1em;
    background-color:black;
    color: white;
    font-family:'poppins';
    height: fit-content;
}
.first-block-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper-links{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.prime-div{
    margin:0;
    padding:1em;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a img{
    margin: 0;  
    width: 150px;
}
a{
    text-decoration: none;
    color: white;
}
.logo-redes{
    margin:0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 23px;
}
.logo-redes svg{
    margin: 0;
    cursor: pointer;
}
.logo-redes svg :hover{
    transition:.3s;
    color: #20509F;
}
.div-links{
    margin: 0;
    padding: 2em;
}
.title-footer{
    cursor: pointer;
}
li{
    list-style: none;
    padding:.5em 0;
    transition: .3s;
    cursor: pointer;
}
li:hover{
    color: #20509F;
}
.second-block-footer{
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: small;
    text-align: center;
}
.second-block-footer p{
    padding-bottom: 1em;
    line-height: 2em;
}
@media(max-width: 588px){
    .div-links{
        padding: 1em;
        font-size: small;
    }
}
@media(max-width:885px){
    .logo-redes{
        justify-content:center;
    }
    .Prime-div{
        width: 100%;
        text-align:center;
    }
    a img{
        align-self: center;
    }
}