@font-face {
    font-family: 'Poppins-light';
    src: url(../Poppins/Poppins-Light.ttf) format("opentype");
}
:root{
    --width-side-bar: 30%;
}
.wrapper {
    margin: 0 auto;
    padding: 1em 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #161c2c85;
    border-bottom: 1px rgba(255, 255, 255, 0.916);
    font-family: 'Poppins-light';
    position: relative;
}

.logo {
    cursor: pointer;
}

.logo a> img {
    width: 100px;
}

.menu-list {
    font-size: 20px;
    color: white;
    display: flex;
    gap: 50px;
}

li a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
}

li a:hover {
    color: #20509F;
    transition: .5s;
    cursor: pointer;
}

.sidebar-icon {
    display: none;
    margin: 0;
    cursor: pointer;
}

/* sidemenu */

.side-menu {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    width: var(--width-side-bar);
    height: 100vh;
    transition: width .8s, right .8s ;
    color: white;
    background-color: #000000fb;
    z-index: 9999;
    padding: 1em;
    box-shadow: -1px 0 1px white;
}
.side-menu-close {
    position: fixed;
    width: 100%;
    top: 0;
    right:-100px;
    height: 100vh;
    transition: width .8s, right .8s ;
    width: 0px;
    color: white;
    background-color: #000000fb;
    z-index: 9999;
    padding: 1em;
    box-shadow: -1px 0 1px white;
}
button{
    background-color:#000000fb;
    border: none;
}

.head-sidemenu {
    padding: 1em 0;
}

.head-sidemenu svg {
    cursor: pointer;
}

.sidemenu-list>li {
    padding: .3em;
    white-space: nowrap;
}

@media(min-width:1000px) {
    .side-menu {
        display: none;
    }
}

@media(max-width: 1000px) {
    .wrapper {
        padding: 1em 2em;
    }

    .menu-list {
        display: none;
    }

    .sidebar-icon {
        display: block;
    }

    .logo {
        margin: 0;
    }
}

@media(max-width:500px) {
    .wrapper {
        padding: 1em;
    }

    .head-sidemenu {
        padding: .3em 0;
    }
   :root{
    --width-side-bar: 70%;
   }
}