@font-face {
    font-family:'poppins-semibold' ;
    src: url(../Poppins/Poppins-SemiBold.ttf) format('opentype');
}
@font-face {
    font-family: 'Poppins-light';
    src: url(../Poppins/Poppins-Light.ttf) format("opentype");
  }

.wrapper-section{
    padding: 5em;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    font-family: 'Poppins-light';
    text-align: center;
}
.section-title{
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    gap:12px;
    width: 100%;
    color: grey;
    font-family: 'Poppins-light';

}
.title-section{
    font-family: 'poppins-semibold';
}
.ask-div-section > p{
    display: flex;
    align-items: center;
    font-size:medium;
    color: #20509F;
}
.ask-div-section > p:hover{
    color: #083172;
    transition:.5s ease;
    cursor: pointer;
}
.ask-div-section > p img{
    width: 38px;
}
.wrapper-card{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 13px;
}

@media(max-width: 1014px){
    .wrapper-section{
        margin-top: 5em ;
        padding: 0.5em;
    }
    .section-title{
        padding: 0;
        font-size: smaller;
    }
    .title-section{
        font-size: small;
    }
}
@media(max-width: 500px){
    .title-section{
        font-size: smaller;
    }
}